<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchains Explorer</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id="wrapper">
    <h1> Blockchains Explorer </h1>
</div>
    <!-- Javascript embedded as last element in body style="background: url('/img/universe_blue.jpg')"" -->
    <script src ="static/js/index_cryptos.js"></script>
    <center>
        <strong><a id="chainz" href="https://chainz.cryptoid.info/">api provided by cryptoid.info</a> <br></strong>
        <strong id="flask">powered by flask</strong>
    </center>

    

</body>
</html>